<!DOCTYPE html>
<html>
<head>
    <title>Editar Tarefa</title>
</head>
<body>
    <h1>Editar Tarefa</h1>
    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{ data.nome }}" required>
        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" value="{{ data.descricao }}">
        <!-- Adicione o campo para a atualização do status "feita" -->
        <label for="feita">Concluída:</label>
        <input type="checkbox" name="feita" {% if data.feita %}checked{% endif %}>
        <button type="submit">Atualizar</button>
    </form>
    <a href="/">Voltar para a lista</a>
</body>
</html>
